# v0 sandbox
__v0_runtime_loader.js
__v0_devtools.tsx
__v0_jsx-dev-runtime.ts
.snowflake/
.v0-trash/
.vercel/

# website
.env*.local
node_modules
tsconfig.tsbuildinfo
.next/

# personal
.DS_Store
.agent-shell
.opencode

# build
/build
/dist
/out
